{% extends "base.html" %}


{% block title %}
Loqal password change alert
{% endblock %}


{% block preheader %} 
Loqal password change alert
{% endblock %}


{% block message %} 
Hi, 
<p>
    Your Loqal password was changed on {{ last_activity }}.
</p>

<!-- Browser: {{ browser }} on {{ os_name }}<br /> -->
IP Address: {{ ip }}
  
<p style="margin-top: 32px;">
    If this was you, you can ignore this alert. If you suspect any suspicious activity on your account, please email us
    at <a href="mailto:security@payloqal.com" target="_blank">security@.payloqal.com</a>
</p>

{% endblock %}