{% extends "base.html" %}


{% block message %}
Hi,

<br />
<br />
We’re excited your business’ started the path towards opening a merchant account with Loqal. We couldn’t be more excited
for you to join our mission to help grow communities across the country.
<br />
<br />
For driving greater transparency, we’ve attached copies of our legal agreements to this email.
<br />
<br />
At this time, please login to your Loqal account to complete your account setup. We look forward to serving you!
<br />
<br />
Thank you for choosing Loqal!

{% endblock %}