<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body>
    <p>
        Hi {{ name }},
    </p>
    <p>
      We’re writing to acknowledge your message shared in the ‘contact us’ section of the Loqal app. We’ll review your note and revert (if needed) shortly! For your records, here is the note you shared with us:
    </p>
    <p>
        {{ message }}
    </p>
    <p>
        Regards, <br>
        Loqal Team
    </p>

  </body>
</html>
