<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
    <p>
        Hi {{ name }},
    </p>
    <p>
        We’re writing to confirm one of your customers raised a payment dispute. We will get in touch with you regarding
        the dispute after understanding more from the customer.
    </p>
    <p>
        Reason: {{ message }}
    </p>
    <p>
        Description: {{ description }}
    </p>
    <p>
        Regards, <br>
        Loqal Team
    </p>

</body>

</html>